<div class="modal fade" id="modal_agregar_entidad" tabindex="-1" aria-labelledby="modal_agregar_entidadLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Aspectos de Autoconsciencia
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <h5>Entidad: <span id="nombreEntidadActiva"></span></h5>
                <div class="row">
                    <div class="col-6">
                        <h4>Árbol de Entidades:</h4>
                        <div id="arbol_objetivos_de_entidad"></div>
                        <button class="btn btn-primary" onclick="activarFormularioAgregarEntidad()">Agregar</button>
                        <button class="btn btn-primary" onclick="eliminarEntidadLista()">Eliminar</button>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Id</span
              >
            </div>
            <input
              type="text"
              name="form_entidad_new"
              id="idEntidad"
              class="form-control"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
              readonly
            />
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Nombre</span
              >
            </div>
            <input
              name="form_entidad_new"
              id="nombreEntidad"
              type="text"
              class="form-control"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
              disabled
            />
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Descripcion</span
              >
            </div>
            <input
              type="text"
              name="form_entidad_new"
              id="descripcionEntidad"
              class="form-control"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
              disabled
            />
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01"
                >Tipo: </label
              >
            </div>
            <select
              class="custom-select"
              name="form_entidad_new"
              id="escalas_seccion_entidad"
  disabled
            ></select>
          </div>
          <h5>Operador de Agregacion:</h5>
          <div class="form-group">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="form_entidad_new"
                id="activoEntidad"
                disabled
              />
              <label class="form-check-label" for="activoEntidad">
                Activo
              </label>
            </div>
          </div>
          <button class="btn btn-primary" id="btn-agregarEntidadLista" onclick="agregarEntidadLista()">
            Agregar Entidad
          </button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">
        Cerrar
      </button>
    </div>
  </div>
</div>
</div>