<!-- Aqui debes colocar tu codigo Diego -->
<div class="modal fade" id="modal_crear_proceso" data-backdrop="static" tabindex="-1"
    aria-labelledby="modal_crear_proceso_Label" aria-hidden="true">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_crear_proceso_Label">Seleccionar objeto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container-fluid">
                <div class="row px-3">
                    <div id="objeto_para_seleccion_area" class="card col-5">
                        <ul id="lista_objetos_para_cargar"></ul>
                    </div>
                    <div class="col-2 text-center">
                        <button class="btn btn-success my-1" onclick="agregar_objeto_seleccionado();">Agregar</button>
                        <button class="btn btn-danger my-1" onclick="remover_objeto_seleccionado();">Eliminar</button>
                    </div>
                    <div id="objetos_seleccionados_area" class="card col-5">
                        <ul id="lista_sujetos_seleccionados"></ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="actualizar_objetos();">Save changes</button>
            </div>
        </div>
    </div>
</div>