<div class="modal fade" id="crear_modelo_modal" tabindex="-1" role="dialog" aria-labelledby="crear_modelo_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" style="width: 100%;" id="crear_modelo_modal_label">Agregar Modelo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <%- include('../create_model'); %>
            </div>
        </div>
    </div>
</div>