<div class="modal fade" id="objetosde_sujetoModal" tabindex="-1" aria-labelledby="objetosde_sujetoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Objetivos del sujeto de autoconsciencia
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <h5>Sujeto: <span id="nombreSujetoObjetoActivo"></span></h5>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary" onclick="activarFormularioAgregarObjeto()">
              Agregar
            </button>
                        <button class="btn btn-primary" onclick="eliminarObjeto()">
              Eliminar
            </button>
                        <h4 class="mt-4">Árbol de objetivos:</h4>
                        <div id="arbol_objetivos_del_sujeto"></div>
                    </div>
                    <div class="col-6">
                        <input type="text" name="idPadreObjeto" id="idPadreObjeto" class="d-none" readonly />
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default1">Nombre</span
                >
              </div>
              <input
                name="nombreObjeto"
                id="nombreObjeto"
                type="text"
                class="form-control"
                aria-label="Default"
                aria-describedby="inputGroup-sizing-default1"
                disabled
              />
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default2"
                  >Descripción</span
                >
              </div>
              <input
                type="text"
                name="descripcionObjeto"
                id="descripcionObjeto"
                class="form-control"
                aria-label="Default"
                aria-describedby="inputGroup-sizing-default3"
                disabled
              />
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default3"
                  >Peso</span
                >
              </div>
              <input
                type="text"
                name="pesoObjeto"
                id="pesoObjeto"
                class="form-control"
                aria-label="Default"
                aria-describedby="inputGroup-sizing-default3"
                disabled
              />
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <label class="input-group-text" for="operadorAsigObjetos"
                  >Operador de asignacion</label
                >
              </div>
              <select
                class="custom-select"
                name="operadorAsigObjetos"
                id="operadorAsigObjetos"
                disabled
              >
                <option value="0">C</option>
                <option value="1">C++</option>
                <option value="2">C+</option>
                <option value="4">C+-</option>
                <option value="5">CA</option>
                <option value="6">C-+</option>
                <option value="7">C-</option>
                <option value="8">C--</option>
                <option value="9">A(MEDIA)</option>
                <option value="10">D--</option>
                <option value="11">C-</option>
                <option value="12">D-+</option>
                <option value="13">DA</option>
                <option value="14">D+-</option>
                <option value="15">D+</option>
                <option value="16">D++</option>
                <option value="17">D</option>
              </select>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="activoObjeto"
                  id="activoObjeto"
                  disabled
                />
                <label class="form-check-label" for="activoObjeto">
                  Activo
                </label>
              </div>
            </div>
            <button
              class="btn btn-primary"
              id="btn-agregarObjetoLista"
              onclick="agregarObjeto()"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>