<div class="modal fade" id="objetosde_sujetoModal" tabindex="-1" aria-labelledby="objetosde_sujetoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Objetivos del sujeto de autoconsciencia
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <h5>Sujeto: <span id="nombreSujetoObjetoActivo"></span></h5>
                <div class="row">
                    <div class="col-6">
                        <h4>Árbol de objetivos:</h4>
                        <div id="arbol_objetivos_del_sujeto"></div>
                        <button class="btn btn-primary" onclick="activarFormularioAgregarObjeto()">Agregar</button>
                        <button class="btn btn-primary" onclick="eliminarObjetoLista()">Eliminar</button>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Id</span
                >
              </div>
              <input
                type="text"
                name="form_objetosde_Sujeto_new"
                id="idObjeto"
                class="form-control"
                aria-label="Default"
                aria-describedby="inputGroup-sizing-default"
                readonly
              />
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Nombre</span
                >
              </div>
              <input
                name="form_objetosde_Sujeto_new"
                id="nombreObjeto"
                type="text"
                class="form-control"
                aria-label="Default"
                aria-describedby="inputGroup-sizing-default"
                disabled
              />
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Descripción</span
                >
              </div>
              <input
                type="text"
                name="form_objetosde_Sujeto_new"
                id="descripcionObjeto"
                class="form-control"
                aria-label="Default"
                aria-describedby="inputGroup-sizing-default"
                disabled
              />
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01"
                  >Unidades de medida</label
                >
              </div>
              <select
                class="custom-select"
                name="form_objetosde_Sujeto_new"
                id="unidades_medida_seccion_sujetos"
		disabled
              ></select>
            </div>
            <h5>Operador de Agregacion:</h5>
            <div class="form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="form_objetosde_Sujeto_new"
                  id="activoObjeto"
                  disabled
                />
                <label class="form-check-label" for="activoObjeto">
                  Activo
                </label>
              </div>
            </div>
            <button class="btn btn-primary" id="btn-agregarObjetoLista" onclick="agregarObjetoLista()">
              Agregar Objeto
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>