<div id="table_deployment_resources">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button id="bt_add_scale" class="btn btn-primary" onclick="agregar_recurso()">
          Agregar
        </button>
                <button id="bd_mod_scale" class="btn btn-primary" onclick="modificar_recurso()">
          Modificar
        </button>
                <button id="bd_del_scale" class="btn btn-primary" onclick="eliminar_recurso()">
          Eliminar
        </button>
            </div>
        </div>
        <br />
        <div class="row container">
            <div class="col-12">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Tipo</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tbody id="tabla_recursos"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<template id="template_row_table_resources">
<tr>
<td id="x"></td>
<td id="id"></td>
<td id="name"></td>
<td id="description"></td>
<td id="type"></td>
</tr>
</template>

<%- include('modal/modal_deployment_resource_add.ejs'); %>