<div>
    <h3>Objetivos del sujeto de autoconsciencia</h3>
    <br>
    <br>
    <h5>Sujetos:</h5>
    <br>



    <div class="row">
        <div class="col-6">

            <h4>Árbol de objetivos:</h4>
            <br>
            <button class="btn btn-primary">Agregar</button>
            <button class="btn btn-primary">Eliminar</button>
            <br>
            <br>
            <div class="col-12 col-md-4">
                </br>
                <ul class="nav">
                    <li><a href="">Seleccione Sistema</a>
                        <ul class="list-group">
                            <li><a href="">Sistema de control Ambiental</a>
                                <ul>
                                    <li><input type="checkbox"><span>locaso</span></li>
                                    <li><a href="">Rendimiento</a></li>
                                    <li><a href="">Confiabilidad</a>
                                        <ul>
                                            <li><a href="">Disponibilidad</a></li>
                                            <li><input type="checkbox"><span>locaso</span></li>
                                            <li><input type="checkbox"><span>locaso</span></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </li>
            </div>
        </div>
        <div class="col-6">
            <form>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Id</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Descripcion</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                </div>
                <h5>Operador de Agregacion:</h5>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                        Activo
                      </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>