<div>
    <h2>Objetivos del sujeto de autoconsciencia</h2>
    <h5>Sujetos:</h5>
    <h4>Árbol de objetivos:</h4>
    <button class="btn btn-primary">Agregar</button>
    <button class="btn btn-primary">Eliminar</button>
    <div class="row">
        <div class="col-12 col-md-4">
            <ul>
                <li>
                    Sistema de control ambiental
                    <ul>
                        <li>
                            Rendimiento
                        </li>

                        <li>
                            Confiabilidad

                            <ul>
                                <li>
                                    Disponibilidad
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-8">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">ID</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombre</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Descripcion</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Peso</label>
                    <select id="exampleInputEmail1" class="form-control">
						<option>Opcion 1</option>
						<option>Opcion 2</option>
						<option>Opcion 3</option>
						<option>Opcion 4</option>
					</select>
                </div>

                <h5>Operador de agregacion</h5>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Activo:</label>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="submit" class="btn btn-primary">Cancelar</button>
            </form>
        </div>
    </div>
</div>