<div class="container-fluid">
    <div>
        <h5>Sistemas IoT disponibles:</h5>
    </div>
    <div class="row px-3">

        <div id="sujetos_para_seleccion_area" class="card col-12 col-lg-5">
            <ul id="lista_sujetos_para_cargar"></ul>
        </div>
        <div class="col-12 col-lg-2 my-3 text-center">
            <button class="btn btn-success my-1" onclick="agregar_sujeto_seleccionado();">Agregar</button>
            <button class="btn btn-danger my-1" onclick="remover_sujeto_seleccionado();">Eliminar</button>
        </div>
        <!--Poner etique Sujetos-->
        <div id="sujetos_seleccionados_area" class="card col-12 col-lg-5">
            <ul id="lista_sujetos_seleccionados"></ul>

        </div>
    </div>
</div>
<div class="text-center my-3">
    <button type="button" class="btn btn-primary" onclick="actualizar_sujetos();">Administrar objetivos de autoconciencia</button>
</div>
<input id="sujetos_seleccion" type="text" style="display: none;">
<div id="lista_sujetos_seleccionados_oficial" class="row"></div>