<d iv class="modal fade" id="add_aspects" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modal_resource_addLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="tituloAspectos" style="width: 100%;">
                    Agregar Aspecto Autoconsciencia
                </h5>
                <button type="button" class="close" onclick="limpiarFomulario();">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="input-group mb-2">
                            <h6>Sujeto de autoconsciencia:</h6>
                            <div class="" style="height: 100px;">
                                <div id="sujetos_Activos_aspectos" class="card col">
                                    <ul id="lista_sujetos_activos_aspectos"></ul>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Nombre:</span>
                            </div>
                            <input name="form_entidad_new" id="nombreAspecto" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled onkeyup="javascript:this.value=this.value.toUpperCase();" />
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Descripción:</span>
                            </div>
                            <textarea type="text" name="form_entidad_new" id="descripcionAspecto" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled onkeyup="javascript:this.value=this.value.toUpperCase();"></textarea>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Peso:</span>
                            </div>
                            <input name="form_entidad_new" id="pesoAspecto" type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled onkeyup="javascript:this.value=this.value.toUpperCase();" />
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Objetivos:</label>
                            </div>
                            <select class="custom-select" name="form_entidad_new" disabled id="select_objetivos"></select>

                            </select>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Tipo:</label>
                            </div>
                            <select class="custom-select" name="form_entidad_new" disabled id="select_aspecto"></select>

                            </select>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">Activo:</div>
                            <div class="col-sm-8">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="activoAspectos" disabled checked>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="col-6">
                        <h6 class="">
                            Categoria Entidad:</h6>
                        <div class="input-group">
                            <select class="custom-select" name="CategoriaEntidadesAspectos" id="CategoriaEntidadesAspectos" disabled>
                                <option value="-6">Seleccione..</option>
                              <option id="EntidadFisica" value="1">Entidades Físicas</option>
                              <option value="2">Nodos Cloud</option>
                              <option value="3">Nodos Fog</option>
                              <option value="4">Gateway IoT</option>
                              <option value="5">Sensores</option>
                              <option value="6">Tags</option>
                              <option value="7">Actuadores</option>
                              <option value="8">Red</option>
                            </select>
                        </div>
                        <h6>Objetos de autoconsciencia:</h6>
                        <div class="row px-3 pr-5" style="overflow-y: auto;height: 200px;">
                            <div id="entidades_seleccionados_area_aspectos" class="card col">
                                <ul id="lista_entidades_seleccionadas_aspectos"></ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="guardarAspectoButton" type="button" class="btn btn-primary" onclick="guardarAspecto()">
          Guardar
        </button>
                <button type="button" class="btn btn-secondary" onclick="limpiarFomulario()">
          Cancelar
        </button>
            </div>
        </div>
    </div>
    </div>