<h5></h5>
Objeto:</h5>
<br>
<h5>Listado de aspectos de autoconsciencia:</h5>
<br>
<div class="row">
    <div class="col-sm">
        <button id="bt_add" class="btn btn-primary" data-toggle="modal" data-target="#modal_aspecto_add">Agregar</button>
        <button id="bd_del" class="btn btn-primary">Eliminar</button>
        <br><br>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action">Carga actual de la bateria del sensor DHT11</button>
            <button type="button" class="list-group-item list-group-item-action">Eficencia en el consumo de energia de la bateria del sensor DHT11</button>
        </div>
    </div>
    <div class="col-sm">
        <%- include('form_add_aspect'); %>
    </div>
</div>
<%- include('../objects/modal/modal_objects_add'); %>