<h5></h5>
Objeto:</h5>
<br>
<h5>Listado de aspectos de autoconsciencia:</h5>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <button id="bt_add_aspecto" class="btn btn-primary" onclick="agregar_aspecto()">
    Agregar
  </button>
            <button id="bd_mod_aspecto" class="btn btn-primary" onclick="modificar_aspecto()">
                Modificar
  </button>
            <button id="bd_del_aspecto" class="btn btn-primary" onclick="eliminar_aspecto()">
    Eliminar
  </button>
        </div>
    </div>
    <br />
    <div class="row container">
        <div class="col-12">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Descripción</th>
                    </tr>
                </thead>
                <tbody id="tabla_aspectos"></tbody>
            </table>
        </div>
    </div>
    <br />
</div>
<%- include('../objects/modal/modal_objects_add'); %>
    <%- include('../objects/modal/modal_objects_mod'); %>