<hr>
<div class="row mt-4 mv-3">
    <div id="entidades_para_seleccion_area" class="col-12 col-lg-5">
        <h6>Entidades disponibles:</h6>
        <div class="card" style="overflow-y: auto;height: 100px;">
            <ul id="lista_entidades_para_cargar"></ul>
        </div>
    </div>
    <div class="col-12 col-lg-2 text-center mt-md-5">
        <button class="btn btn-success my-1" onclick="agregar_entidad_seleccionado();">Agregar</button>
        <button class="btn btn-danger my-1" onclick="remover_entidad_seleccionado();">Eliminar</button>
    </div>
    <div id="entidades_seleccionados_area" class="col-12 col-lg-5">
        <h6>Entidades:</h6>
        <div class="card" style="overflow-y: auto;height: 100px;">
            <ul id="lista_entidades_seleccionados"></ul>
        </div>
    </div>
</div>
<input id="entidades_seleccion" type="text" style="display: none;">
<div id="lista_entidades_seleccionados_oficial" class="row"></div>