</br>

<div>
    <h4>Entidades disponibles:</h4>
    <div class="row">
        <div class="col-sm">

            <ul class="nav">
                <li><a href="">Sujetos</a>
                    <ul class="list-group">
                        <li><a href="">Entidades Fisicas</a>
                            <ul>
                                <li><a href="">Casa</a></li>
                                <li><a href="">Subsistema 2</a></li>
                                <li><a href="">Subsistema 3</a></li>
                                <li><a href="">Subssitema 4</a></li>
                            </ul>
                        </li>
                    </ul>

                </li>

        </div>
        <div class="col-sm">

            <button class="btn btn-success my-1">Agregar</button>



            <button class="btn btn-danger my-1" onclick="remover_sujeto_seleccionado();">Eliminar</button>


        </div>
        <div class="col-sm">

            <ul class="nav">
                <li><a href="">Sujetos</a>
                    <ul class="list-group">
                        <li><a href="">Sistema de Gestion de Emergencias</a>
                            <ul>
                                <li><a href="">Subsistema 1</a></li>
                                <li><a href="">Subsistema 2</a></li>
                                <li><a href="">Subsistema 3</a></li>
                                <li><a href="">Subssitema 4</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
        </div>





    </div>


</div>