</br>

<div>
    <h4>Entidades disponibles:</h4>
    <div class="row">
        <div class="col-sm">

            <ul class="nav">
                <li><a href="">Sujetos</a>
                    <ul class="list-group">
                        <li><a href="">Entidades Fisicas</a>
                            <ul>
                                <li><a href="">Casa</a></li>
                                <li><a href="">Subsistema 2</a></li>
                                <li><a href="">Subsistema 3</a></li>
                                <li><a href="">Subssitema 4</a></li>
                            </ul>
                        </li>

                        <li><a href="">Entidades Digitales</a>
                            <ul>
                                <li><a href="">Casa</a></li>
                                <li><a href="">Subsistema 2</a></li>
                                <li><a href="">Subsistema 3</a></li>
                                <li><a href="">Subssitema 4</a></li>
                            </ul>
                        </li>
                    </ul>

                </li>

        </div>
        <div class="col-sm">

            <button class="btn btn-success my-1">Agregar</button>
            <button class="btn btn-danger my-1" onclick="remover_sujeto_seleccionado();">Eliminar</button>
        </div>
        <div class="col-sm">
            <a class="nav-link" href="#">
                <div class="sb-nav-link-icon"><i class="fas fa-brain"></i></div>Procesos de autoconsciencia
            </a>

            <!-- Generales -->
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGeneral" aria-expanded="false" aria-controls="collapseGeneral">
                <div class="sb-nav-link-icon"><i class="fas fa-globe-americas"></i></div>
                Generales
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseGeneral" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                    <!-- Unidades de medida -->
                    <a class="nav-link" href="/units_of_measure">Unidades de medida</a>
                    <!-- Escalas -->
                    <a class="nav-link" href="/scales">Escalas</a>
                    <!-- Criterios de decision -->
                    <a class="nav-link" href="/decision_criteria">Criterios de decision</a>
                    <!-- Recursos de implementacion -->
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesRecursosI" aria-expanded="false" aria-controls="pagesRecursosI">
                        Recursos de implementacion
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="pagesRecursosI" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/formulas">Formulas</a>
                            <a class="nav-link" href="/calcule_functions">Funciones de calculo</a>
                            <a class="nav-link" href="#">Servicios de calculo</a>
                        </nav>
                    </div>
                </nav>
            </div>





        </div>





    </div>


</div>