<head>
    <link href="css/styles3.css" rel="stylesheet" />
</head>
</br>
<h5>Seleccionar Entidad</h5>
<div class="row">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right btn btn-info" type="button" data-toggle="collapse" data-target="#CargarEntidades" aria-controls="CargarEntidades" aria-expanded="false" aria-label="Toggle navigation">
        <span >Entidades</span>
      </button>
        <div class="collapse navbar-collapse" id=CargarEntidades>
            <ul class="navbar-nav mr-auto" id="Cargar_Lista_Entidades">
            </ul>
        </div>
    </nav>
</div>