<head>
    <link href="css/styles3.css" rel="stylesheet" />
</head>
</br>
<h5>Categoria Entidad</h5>
<div class="row">
    <div class="input-group col-4">
        <select class="custom-select" name="CategoriaEntidades" id="CategoriaEntidades">
          <option id="EntidadFisica" value="1">Entidades Físicas</option>
          <option value="2">Nodos Cloud</option>
          <option value="3">Nodos Fog</option>
          <option value="4">Gateway IoT</option>
          <option value="5">Sensores</option>
          <option value="6">Tags</option>
          <option value="7">Actuadores</option>
          <option value="8">Red</option>
      
        </select>
    </div>
</div>