<head>
    <link href="css/styles3.css" rel="stylesheet" />
</head>
</br>
<h5>Seleccionar Entidad</h5>
<br>
<div class="row">
    <nav class="navbar navbar-toggleable  ">
        <button class="btn-light" type="button" data-toggle="collapse" data-target="#CargarEntidades" aria-controls="CargarEntidades" aria-expanded="false" aria-label="Toggle navigation">
        <h5 >Entidades</h5>
      </button>
        <div class="collapse navbar-collapse" id=CargarEntidades>
            <ul class="navbar-nav mr-auto" id="Cargar_Lista_Entidades">
            </ul>
        </div>
    </nav>
</div>