<head>
    <link href="css/styles3.css" rel="stylesheet" />
</head>
</br>
<h5>Seleccionar sujeto de autoconsciencia:</h5>
<br>
<div class="row">
    <div id="sujetos_activos" class="card col-12 col-lg-5">
        <ul id="lista_sujetos_activos"></ul>
    </div>
</div>