<head>
    <link href="css/styles3.css" rel="stylesheet" />
</head>
<h6>Seleccionar sujeto de autoconsciencia:</h6>
<div class="row px-3 pr-5" style="overflow-y: auto;height: 100px;">
    <div id="sujetos_activos" class="card col-6">
        <ul id="lista_sujetos_activos"></ul>
    </div>
</div>