<head>
    <link href="css/styles3.css" rel="stylesheet" />
</head>
</br>
<h5>Seleccionar sujeto de autoconsciencia:</h5>
<br>
<div class="row">
    <nav class="navbar navbar-toggleable">
        <button class="btn-light" type="button" data-toggle="collapse" data-target="#CargarSujetos" aria-controls="CargarSujetos" aria-expanded="false" aria-label="Toggle navigation">
        <h5>Sujetos</h5>
      </button>
        <div class="collapse navbar-collapse" id="CargarSujetos">
            <ul class="navbar-nav mr-auto" id="lista_sujetosObjetos">

            </ul>
        </div>
    </nav>
</div>