<div>
    </br>
    <h5>Seleccionar sujeto de autoconsciencia:</h5>
    <ul class="nav">
        <li><a href="">Sujetos</a>
            <ul class="list-group">
                <li><a href="">Sistema de Gestion de Emergencias</a>
                    <ul>
                        <li><a href="">Subsistema 1</a></li>
                        <li><a href="">Subsistema 2</a></li>
                        <li><a href="">Subsistema 3</a></li>
                        <li><a href="">Subssitema 4</a></li>
                    </ul>
                </li>
            </ul>
        </li>


</div>