<div class="modal fade bd-example-modal-lg" id="modal_mapeo_parametros" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mapeo Parametros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col">
                                        <h5>Nombre:</h5>
                                        <p id="nombre_temporal_mapeo">Nombre Temporal</p>
                                    </div>
                                    <div class="col">
                                        <h5>Tipo dato de salida:</h5>
                                        <p id="tipo_dato_salida_mapeo"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <h5>Descripcion:</h5>
                                <p id="descripcion_mapeo"></p>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Tipo de dato</th>
                                    <th scope="col">Opcional</th>
                                    <th scope="col">Tipo Mapeo</th>
                                    <th scope="col">Argumento de Entrada</th>
                                </tr>
                            </thead>
                            <tbody id="tabla_mapeo_parametros"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>