<div id="modal_metodo_add" class="container-fluid d-none">
    <nav class="mt-4">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-recoleccion-tab" data-toggle="tab" href="#nav-recoleccion" role="tab" aria-controls="nav-recoleccion" aria-selected="true">Método de recolección de datos</a>
            <a class="nav-item nav-link" id="nav-modelo-tab" data-toggle="tab" href="#nav-modelo" role="tab" aria-controls="nav-modelo" aria-selected="false">Modelo de análisis</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-recoleccion" role="tabpanel" aria-labelledby="nav-recoleccion-tab">
            <div class="row mt-3" id="formularios_divididos">
                <div class="col-6">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="tipo_comunicacion_metodos">Tipo de comunicación: </label>
                        </div>
                        <select class="custom-select" name="tipo_comunicacion" id="tipo_comunicacion" disabled onchange="generar_flujo_datos_select();">
                  </select>
                    </div>
                    
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="propiedad_recoleccion_metodos">Propiedad: </label>
                        </div>
                        <select class="custom-select" name="proiedad_recoleccion" id="proiedad_recoleccion" disabled onchange="generar_flujo_datos_select();">
                  </select>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="">Flujo de datos: </label>
                        </div>
                        <select class="custom-select" name="flujo_de_datos" id="flujo_de_datos">
                  </select>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="metrica_metodos">Métrica directa de salida: </label>
                        </div>
                        <select class="custom-select" name="metrica_directa" id="metrica_directa" disabled>
                  </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-modelo" role="tabpanel" aria-labelledby="nav-modelo-tab">
            <div class=" row justify-content-center mt-3" id="formularios_divididos2">
                <div class="col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="tiporecursoModelo">Tipo de recurso: </label>
                        </div>
                        <select class="custom-select" name="tipo_recurso" id="tipo_recurso" onchange="SeleccionaRecursoSelect(this);" disabled>
                        <option >Seleccione..</option>
                        <option value="0">Fórmula</option>
                        <option value="1">Función</option>
                        <option value="2">Servicio</option>
                  </select>
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="recurso">Recurso:</label>
                        </div>
                        <select class="custom-select" name="recurso" id="recurso" disabled>
                    </select>
                        <div class="input-group-append">
                            <button class="btn btn-secondary" id="mapeo_parametros_btn" type="button" onclick="abrirModalMapeoParametros();" disabled>Mapeo de parámetros</button>
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="indicadorModelo">Indicador: </label>
                        </div>
                        <select class="custom-select" name="indicador_modelo" id="indicador_modelo" disabled>
                  </select>
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="criterio_de_decision">Criterio de decisión:</label>
                        </div>
                        <select class="custom-select" name="criterio_de_decision" id="criterio_de_decision" disabled>
                        <option value=""></option>
                  </select>
                        <div class="input-group-append">
                            <button class="btn btn-secondary" id="btn-recomendaciones_model" type="button" onclick="cargar_activos_umbrales();" disabled>Recomendaciones prescriptivas</button>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                </div>
            </div>
        </div>
    </div>
</div>
