<div id="modal_metodo_mod" class="container-fluid d-none">
    <nav class="mt-4">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-recoleccion-tab" data-toggle="tab" href="#nav-recoleccion" role="tab" aria-controls="nav-recoleccion" aria-selected="true">Método de recolección de datos</a>
            <a class="nav-item nav-link" id="nav-modelo-tab" data-toggle="tab" href="#nav-modelo" role="tab" aria-controls="nav-modelo" aria-selected="false">Modelo de análisis</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <input type="text" class="d-none" id="id_objeto_seleccionado">
        <div class="tab-pane fade show active" id="nav-recoleccion" role="tabpanel" aria-labelledby="nav-recoleccion-tab">
            <div class="row mt-3" id="formularios_divididos">
                <div class="col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="tipo_comunicacion_metodos_modificar">Tipo de comunicación: </label>
                        </div>
                        <select class="custom-select" name="tipo_comunicacion_modificar" id="tipo_comunicacion_modificar" onclick="cargar_flujo_datos_modificar()">
                  </select>
                    </div>
                                        <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="propiedad_recoleccion_metodos">Propiedad: </label>
                        </div>
                        <select class="custom-select" name="proiedad_recoleccion_modificar" id="proiedad_recoleccion_modificar" onclick="cargar_flujo_datos_modificar()">
                  </select>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="flujo_de_datos">Flujo de datos: </label>
                        </div>
                        <select class="custom-select" name="flujo_de_datos_modificar" id="flujo_de_datos_modificar" disabled>
                  </select>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="metrica_metodos">Métrica directa: </label>
                        </div>
                        <select class="custom-select" name="metrica_directa_modificar" id="metrica_directa_modificar" disabled>
                  </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-modelo" role="tabpanel" aria-labelledby="nav-modelo-tab">
            <div class=" row justify-content-center mt-3" id="formularios_divididos2">
                <div class="col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="tiporecursoModelo">Tipo de recurso: </label>
                        </div>
                        <select class="custom-select" name="tipo_recurso_modificar" id="tipo_recurso_modificar" onchange="SeleccionaRecursoSelect(this);" disabled>
                        <option value="0">Fórmula</option>
                        <option value="1">Función</option>
                        <option value="2">Servicio</option>
                  </select>
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="recurso">Recurso:</label>
                        </div>
                        <select class="custom-select" name="recurso_modificar" id="recurso_modificar" disabled>
                            
                    </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="mapeo_parametros_btn_modificar" type="button" onclick="abrirModalMapeoParametros();" disabled>Mapeo de parámetros</button>
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="indicadorModelo">Indicador: </label>
                        </div>
                        <select class="custom-select" name="indicador_modelo_modificar" id="indicador_modelo_modificar" disabled>
                  </select>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="criterio_de_decision">Criterio de decisión:</label>
                        </div>
                        <select class="custom-select" name="criterio_de_decision_modificar" id="criterio_de_decision_modificar" disabled>
                  </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="btn-recomendaciones_model_modificar" type="button" onclick="" disabled>Recomendaciones prescriptivas</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
