<div class="" id="pagina_proceso_modificar">
    <div class="row">
        <div class="col">
            <input type="text" class="d-none" id="id_proceso_pre_reflexivo_modificar">
            <input type="text" class="d-none" id="id_sujeto">
            <input type="text" class="d-none" id="id_aspecto">
            <div class="form-group mt-4 row">
                <label for="" class="col-sm-3 col-form-label">Nombre:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="input-name-proceso-pre-reflexivo_modificar" style=" text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();"/>
                </div>
            </div>
            <div class="form-group row ">
                <label for=" " class="col-sm-3 col-form-label ">Descripción:</label>
                <div class="col-sm-7">
                    <textarea type="text " class="form-control " id="input-descripcion-proceso-pre-reflexivo_modificar" style="text-transform:uppercase; " onkeyup="javascript:this.value=this.value.toUpperCase();"></textarea>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h6>Periodo de ejecucion:</h6>
            <div class="col card" style="height: 55px;">
                <div class="form-group mt-2 row">
                    <label for="" class="col-sm-2 col-form-label">Inicio:</label>
                    <input type="date" id="inicio_del_periodo_modificar" name="inicio_del_periodo_modificar"min="2020-01-01" max="2050-01-01">
                    <label for="" class="col-sm-2 col-form-label">Fin:</label>
                    <input type="date" id="fin_del_periodo_modificar" name="fin_del_periodo_modificar" min="2020-01-01" max="2050-01-01">
                </div>
                <div class="row">
<h6 class="text-center">Aspectos de autoconsciencia</h6>
        <div class="input-group col-11">
            <select class="custom-select" name="Aspectos_autoconsciencia_modificar" id="Aspectos_autoconsciencia_modificar" disabled>
                 </select>
        </div>        
                                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h6>Sujetos de autoconsciencia:</h6>
            <div id="sujetos_activos_proceso_modificar" class="card col-12 col-lg-10" style="overflow-y: auto;height: 166px;">
                <ul id="lista_sujetos_activos_proceso_modificar"></ul>
            </div>
        </div>
        <div class="col-6">
            <div class="mt-2">
                <h6>Categoría de objetos:</h6>
                <div class="form-group col-12">
                    <select class="custom-select" name="CategoriaEntidadesProcesos" id="CategoriaEntidadesProcesos" disabled>
                                  </select>
                </div>
                    </div>
	<h6>Objeto de autoconsciencia:</h6>
                <div class="col-sm-11">
                    <div id="entidades_seleccionados_area_procesos" class="card col-lg-12" style="overflow-y: auto;height: 100px;">
                    </div>
                </div>

        </div>
	
    </div>
