<div class="container">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <button id="bt_addEscalas" class="btn btn-primary" data-toggle="modal" data-target="#modal_escalas_add">Agregar</button>
            <button id="bd_delEscalas" class="btn btn-primary">Eliminar</button>
            <button id="bd_modEscalas" class="btn btn-primary" data-toggle="modal" data-target="#modal_escalas_mod">Modificar</button>
        </div>
    </div>
    <br>
    <div class="row container">
        <div class="col-12">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Check</th>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Valor Valido</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Activo</th>
                    </tr>
                </thead>
                <tbody>
                    <tbody id="tabla_escalas">
                    </tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('../escales/modal/modal_escales_add'); %>
    <%- include('../escales/modal/modal_escales_mod'); %>