<div class="modal fade" id="modal_recurso_implementacion_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Agregar Recurso de Implementación
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Nombre:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="input-name-add" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Descripción:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="input-descripcion-add" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Tipo Dato Salida</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="input-tipe-add" value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Tipo Recurso:</label>
                            <div class="col-sm-12">
                                <select id="select_tipo_recurso" class="custom-select" required name="select_recurso">
                                    <option value="Seleccione">Seleccione un Recurso</option> 
                                    <option value="Fórmula">Fórmula</option> 
                                    <option value="Función">Función</option>
                                    <option value="Servicio">Servicio</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="guardarNuevaRecImpl()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>

            </div>
        </div>
    </div>
</div>