
<div class="d-none" id="modal_tipo_recurso_funcion_add">
    <div class="row">
        <div class="col-sm">
            <div class="form-group row">
                <label for="input_path_id" class="col-sm-4 col-form-label">Path:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="input_path_id" />
                </div>
            </div>
            <div class="form-group row">
                <label for="input_instruccion_add" class="col-sm-4 col-form-label">Instrucción:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="input_instruccion_add" />
                </div>
            </div>
        </div>
    </div>
</div>