
<div class="form-group row" id="modal_tipo_recurso_formula_add">
    <label for="" class="col-sm-4 col-form-label">Expresión:</label>
    <div class="col-sm-12">
        <input type="text" class="form-control" id="input-expresion-add" />
    </div>
</div>