
<div class="d-none" id="modal_tipo_recurso_formula_add">
    <div class="row">
        <div class="col-sm">
            <div class="form-group row">
                <label for="input-expresion-add" class="col-sm-4 col-form-label">Expresión:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="input_expresion_add" />
                </div>
            </div>
        </div>
    </div>
</div>