
<div class="d-none" id="modal_tipo_recurso_servicio_add">
    <div class="row">
        <div class="col-sm">
            <div class="form-group row">
                <label for="input_pf_id" class="col-sm-4 col-form-label">Punto final:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="input_pf_id" />
                </div>
            </div>
            <div class="form-group row">
                <label for="input_instruccion_add" class="col-sm-4 col-form-label">Instrucción:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="input_instruccionS_add" />
                </div>
            </div>
            <div class="form-group row">
                <label for="input_ts_add" class="col-sm-4 col-form-label">Tipo de salida:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="input_ts_add" />
                </div>
            </div>
        </div>
    </div>
</div>
