<div class="container">
    <div class="row">
        <div class="col-md-4">
            <button id="bt_add_ri" class="btn btn-primary" onclick="agregar_recurso_implementacion()">
                Agregar
              </button>
            <button id="bd_mod_ri" class="btn btn-primary" onclick="modificar_recurso_implementacion()">
                Modificar
              </button>
            <button id="bd_del_ri" class="btn btn-primary" onclick="eliminar_recurso_implementacion()">
                Eliminar
              </button>
        </div>
    </div>
    <br>
    <div class="row container">
        <div class="col-12">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Tipo Dato Salida</th>
                        <th scope="col">Tipo Recurso</th>
                        <th scope="col">Activo</th>
                    </tr>
                </thead>
                <tbody>
                    <tbody id="tabla_recurso_implementacion">
                    </tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('../formula/modal/modal_recurso_implementacion_add'); %>
    <%- include('../formula/modal/modal_recurso_implementacion_mod'); %>