<div class="container">
    <div class="row">
        <div class="col-md-5">
            <button id="bt_add_aspects" class="btn btn-primary" onclick="agregarAspectos()">
        Agregar
      </button>
            <button id="bd_mod_aspects" class="btn btn-primary" onclick="modificarAspectos()">
        Modificar
      </button>
            <button id="bd_del_aspects" class="btn btn-primary" onclick="eliminarAspectos()">
        Eliminar
      </button>
            <button id="administrarMetricas" class="btn btn-primary" onclick="administrarMetrics()">
        Agregar Métricas
      </button>

        </div>
    </div>
    <br />
    <div class="row container">
        <div class="col-12">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Peso</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Activo</th>
                    </tr>
                </thead>
                <tbody id="tableAspects"></tbody>
            </table>
        </div>
    </div>
    <br />
</div>
<%- include('../aspects/modal/add_mod_aspects'); %>
<%- include('../aspects/modal/admin_metrics'); %>
<%- include('../aspects/modal/mod_aspects'); %>
