<div id="services_form_add" class="container-fluid d-none">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#end"
        role="tab"
        aria-controls="end"
        aria-selected="true"
        >endpoint</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="profile-tab"
        data-toggle="tab"
        href="#params"
        role="tab"
        aria-controls="params"
        aria-selected="false"
        >Parámetros</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="profile-tab"
        data-toggle="tab"
        href="#istruccioness"
        role="tab"
        aria-controls="istruccioness"
        aria-selected="false"
        >Instrucciones</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="profile-tab"
        data-toggle="tab"
        href="#tipos"
        role="tab"
        aria-controls="tipos"
        aria-selected="false"
        >Tipo de salida</a
      >
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="end"
      role="tabpanel"
      aria-labelledby="function-tab"
    >
      <div class="form-group">
        <label for="input_endpoint_resource">End Point</label>
        <input type="text" class="form-control" id="input_endpoint_resource" />
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="params"
      role="tabpanel"
      aria-labelledby="param-tab"
    >
      <div class="row my-3">
        <div class="col-md-12">
          <button
            id="bt_add_scale"
            class="btn btn-primary"
            onclick="agregar_parametro()"
          >
            Agregar
          </button>
          <button
            id="bd_mod_scale"
            class="btn btn-primary"
            onclick="modificar_parametro()"
          >
            Modificar
          </button>
          <button
            id="bd_del_scale"
            class="btn btn-primary"
            onclick="eliminar_parametro()"
          >
            Eliminar
          </button>
        </div>
      </div>
      <ul
        id="lista_parametros_recursos"
        class="list-group"
        style="overflow-y: auto; height: 200px"
      >
        <li class="list-group-item">
          <a>Datos 1</a>
        </li>
        <li class="list-group-item">
          <a>Datos 2</a>
        </li>
        <li class="list-group-item">
          <a>Datos 3</a>
        </li>
        <li class="list-group-item">
          <a>Datos 4</a>
        </li>
        <li class="list-group-item">
          <a>Datos 5</a>
        </li>
        <li class="list-group-item">
          <a>Datos 6</a>
        </li>
      </ul>
    </div>
    <div
      class="tab-pane fade"
      id="istruccioness"
      role="tabpanel"
      aria-labelledby="function-tab"
    >
      <textarea
        name=""
        id="area_de_nueva_istruccion_funcion"
        style="height: 280px; width: 100%"
      ></textarea>
    </div>
    <div
      class="tab-pane fade"
      id="tipos"
      role="tabpanel"
      aria-labelledby="function-tab"
    >
      <div class="input-group my-3">
        <div class="input-group-prepend">
          <label
            class="input-group-text"
            for="selectTipoSalidaFormulaRecursoAdd"
            >Tipo de dato de salida</label
          >
        </div>
        <select class="custom-select" id="selectTipoSalidaFormulaRecursoAdd">
          <option value="1" selected>Byte</option>
        </select>
      </div>
    </div>
  </div>
</div>
