<p>
    <button class="btn btn-link" type="button" onclick="guardar_informacion_boton('guardar_informacion_general')">Paso 1: Información General</button>
    <span id="btn-section-2" class="d-none">
        <span  class="text-primary">></span>
    <button class="btn btn-link" type="button" onclick="guardar_informacion_boton('navegador_metodos_modelos')">
            Paso 2: Métodos de aprendizaje y razonamiento 
    </button>
    <span id="btn-section-3" class="d-none">
        
        <span  class="text-primary">></span>
    <button class="btn btn-link" type="button" onclick="guardar_informacion_boton('navegador_metodos_modelos')">
                Paso 3: Párametros y recomendaciones
        </button>
    </span>
    </span>
</p>
<div class="row">
    <div class="col-12">
        <div class="collapse multi-collapse show" id="guardar_informacion_general">
            <div class="card card-body">
                <%- include('modal/proceso_pre_reflexivo'); %>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="collapse multi-collapse" id="navegador_metodos_modelos">
            <div class="card card-body">
                <%- include('modal/modal_metodo_modelos'); %>
            </div>
        </div>
    </div>
</div>
<button type="button" id="btn-guardar" class="btn btn-secondary btn-lg btn-block mt-3 mx-4 mb-2" onclick="guardar_proceso_pre_reflexivo_boton()">Guardar (Información General)</button>
<%- include('modal/modal_mapeo_parametros'); %>
    <%- include('modal/modal_activos'); %>
