<div class="container">
    <div class="row">
        <div class="col-md-4">

            <a id="bt_add_proceso_pre_reflexivo" class="btn btn-primary" href="proceso_pre_reflexivo">
        Agregar
            </a>
	           <form class="d-inline" action="modificar_pre_reflexivos" method="POST" id="modificar_proceso_form" onsubmit="return validarSeleccion()">	                   <button id="bd_mod_proceso_pre_reflexivo" type="submit" onclick="cargar_pre_reflexivos_modificar()" class="btn btn-primary">
	                       Modificar
		 </button>
		</form>
            <button id="bd_del_proceso_pre_reflexivo" class="btn btn-primary" onclick="elminarProcesoPreReflexivo()">
        Eliminar
      </button>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Sujeto</th>
                        <th scope="col">Aspecto</th>
                        <th scope="col">Inicio Periodo</th>
                        <th scope="col">Fin Periodo</th>
                        <th scope="col">Activo</th>
                    </tr>
                </thead>
                <tbody id="tabla_proceso_pre_reflexivo"></tbody>
            </table>
        </div>
    </div>
    <br />
</div>
