<%- include('parts/before_the_body'); %>
<%- include('parts/sidebar_menu'); %>

<div id="layoutSidenav_content">
    <main id="decision_criteria_page" class="container-fluid">
        <h1 class="mt-4">Criterios Decisión</h1>
        <br>
        <%- include('parts/decision_criteria/table'); %>
    </main>
</div>

<%- include('parts/after_the_body'); %>