<%- include('parts/before_the_body'); %>
    <%- include('parts/sidebar_menu'); %>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Formulas</h1>
                </div>
                <br>
                <div>
                    <%- include('parts/formula/table'); %>
                </div>
            </main>
        </div>
        <!-- Fin del contenido principal (main) -->
        <%- include('parts/after_the_body'); %>