<%- include('parts/before_the_body'); %>
<%- include('parts/sidebar_menu'); %>

<div id="layoutSidenav_content">
    <main id="formulas_page" class="container-fluid">
        <h1 class="mt-4">Recursos de implementación</h1>
        <br>
        <%- include('parts/formula/table'); %>
    </main>
</div>

<%- include('parts/after_the_body'); %>