<%- include('parts/before_the_body'); %>
<%- include('parts/sidebar_menu'); %>

<div id="layoutSidenav_content">
    <main id="fenerate_model_page" class="container-fluid">
        <h1 class="mt-4">Generar modelos</h1>
    </main>
</div>

<%- include('parts/after_the_body'); %>