<%- include('parts/before_the_body'); %>
<%- include('parts/sidebar_menu'); %>

<div id="layoutSidenav_content">
    <main id="measurament_units_page" class="container-fluid">
        <h1 class="mt-4">Unidad de Medida</h1>
        <br>
        <%- include('parts/units_of_measure/table'); %>
    </main>
</div>

<%- include('parts/after_the_body'); %>