<%- include('parts/before_the_body'); %>
    <%- include('parts/sidebar_menu'); %>
        <div id="layoutSidenav_content">
            <main id="home_page" class="" align="center">
                <img src="img/principal.jpg" style="min-width: 60%;" alt="">

            </main>
        </div>
        <%- include('parts/after_the_body'); %>