<%- include('parts/before_the_body'); %>
    <%- include('parts/sidebar_menu'); %>

        <body background="img/principal.jpg" style=" background-size: 1200px; background-repeat: no-repeat; background-position: center center">

        </body>
        <div id="layoutSidenav_content">
            <main id="home_page" class="container-fluid">

            </main>
        </div>

        <%- include('parts/after_the_body'); %>