<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Configurador de dominio de autoconciencia para sisteamas IoT</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">SingUp</h3>
                                </div>
                                <div class="card-body">
                                    <form action="/singup" method="POST">
                                        <div class="form-group">
                                            <% if (error.length > 0) { %>
                                                <div class="alert alert-danger">
                                                    <%- error %>
                                                </div>
                                                <% } %>

                                                    <% if (succes.length > 0) { %>
                                                        <div class="alert alert-success">
                                                            <%- succes %>
                                                        </div>
                                                        <% } %>
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="EmailAddress">Nombres y Apellidos:</label>
                                            <input class="form-control py-4" id="inputName" name="inputName" type="text" placeholder="Ingrese nombres y apellidos:" />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputEmailAddress">Correo:</label>
                                            <input class="form-control py-4" id="inputEmailAddress" name="inputEmailAddress" type="email" placeholder="Ingrese su correo electronico" />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword">Contrase単a:</label>
                                            <input class="form-control py-4" id="inputPassword" name="inputPassword" type="password" placeholder="Ingrese su contrase単a" />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword2">Confirme Contrase単a:</label>
                                            <input class="form-control py-4" id="inputPassword2" name="inputPassword2" type="password" placeholder="Ingrese su contrase単a nuevamente" />
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="/login">Ya tienes una cuenta?</a>
                                            <button type="submit" class="btn btn-primary">Crear Cuenta</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>

</html>
