<section id="crear_procesos_section" class="crear_procesos container">
    <div class="container">
        <h2 class="text-center">Crear procesos</h2>
        <!-- Aqui debes colocar tu codigo Diego -->
        <div calss="form-group">
            <label for="id_proceso">Proceso Id:</label>
            <input from="new_proceso" type="text" class="form-control" id="id_proceso" name="id_proceso">
        </div>
        <div calss="form-group">
            <label for="unidad_tiempo">Unidad de tiempo:</label>
            <input from="new_proceso" type="text" class="form-control" id="unidad_tiempo" name="unidad_tiempo">
        </div>
        <div calss="form-group">
            <label for="int_tiempo">Intervalo de tiempo:</label>
            <input from="new_proceso" type="text" class="form-control" id="int_tiempo" name="int_tiempo">
        </div>
        <div calss="form-group">
            <label for="hora_ejecucion">Hora de ejecución del proceso:</label>
            <input from="new_proceso" type="text" class="form-control" id="hora_ejecucion" name="hora_ejecucion">
        </div>
        <div calss="form-group">
            <label for="activo" class="">Activo:</label>
            <div class="input-group">
                <span class="input-group-addon" id="r_buton" name="activo">
                    <label for="si">Si
                    <input from="new_proceso" type="radio" id="si" name="r_activo" value="si"></label>
                    <label for="no">No
                    <input from="new_proceso" type="radio" id="no" name="r_activo" value="no"></label>
                </span>    
            </div>
        </div>
        <div class="form-group">
            <label for="sujeto_seleccion">Seleccione el sujeto</label>
            <select form="new_model" id="sujeto_seleccion" class="form-control" name="sujeto_seleccion">
                <% modelos_fisicos.forEach(function (model) { %>
                <option><%= model %></option>
                <% }) %>
            </select>
        </div>
        <div class="text-center">
            <a href="#seleccion_objetos_section" id="btn_crear_objeto" class="btn btn-primary"
                onclick="comenzar_creacion();">Comenzar a crear</a>
        </div>
    </div>
</section>
<%- include('modales/modal_crear_proceso'); %>