<section id="seleccion_sujetos_section" class="seleccion_sujetos">
    <div class="container">
        <h2 class="text-center">Seleccionar sujetos</h2>
        <div class="text-center">
            <button id="btn_seleccionar_sujetos_modal" class="btn btn-primary"
                onclick="seleccionar_sujetos_modal();">Editar sujetos</button>
        </div>
        <input type="text" id="sujetos_seleccion" name="sujetos_seleccion" value="" form="new_model"
            style="display: none;">
        <div id="visualizar_sujetos_seleccion" class="container-fluid mt-4">
            <div id="lista_sujetos_seleccionados_oficial" class="row justify-content-center"></div>
        </div>
        <div class="my-5">
            <a href="#crear_procesos_section" id="btn_fin_seleccion_sujetos" class="btn btn-primary"
                onclick="finalizar_seccion_sujetos();" style="display: none;">Terminar seleccion de sujetos</a>
        </div>
    </div>
</section>
<%- include('modales/modal_seleccion_sujeto'); %>                                         