<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Mantenimientos</div>
                <!-- Modelos -->
                <a class="nav-link" href="/models">
                    <div class="sb-nav-link-icon"><i class="fas fa-sitemap"></i></div>Modelos
                </a>
                <!-- Dominios -->
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDomine" aria-expanded="false" aria-controls="collapseDomine">
                    <div class="sb-nav-link-icon"><i class="fas fa-layer-group"></i></div>
                    Dominios
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseDomine" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <!-- Sujetos -->
                        <a class="nav-link" href="/subject">Sujetos</a>
                        <!-- Objetos -->
                        <a class="nav-link" href="/object">Objetos</a>
                    </nav>
                </div>

                <!-- Procesos de autoconsciencia -->
                <a class="nav-link" href="/self_awareness_processes">
                    <div class="sb-nav-link-icon"><i class="fas fa-brain"></i></div>Procesos de autoconsciencia
                </a>

                <!-- Generales -->
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGeneral" aria-expanded="false" aria-controls="collapseGeneral">
                    <div class="sb-nav-link-icon"><i class="fas fa-globe-americas"></i></div>
                    Generales
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseGeneral" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <!-- Unidades de medida -->
                        <a class="nav-link" href="/measurement_units">Unidades de medida</a>
                        <!-- Escalas -->
                        <a class="nav-link" href="/scales">Escalas</a>
                        <!-- Criterios de decision -->
                        <a class="nav-link" href="/decision_criteria">Criterios de decision</a>
                        <!-- Recursos de implementacion -->
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesRecursosI" aria-expanded="false" aria-controls="pagesRecursosI">
                            Recursos de implementacion
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesRecursosI" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/formulas">Formulas</a>
                                <a class="nav-link" href="/calculation_functions">Funciones de calculo</a>
                                <a class="nav-link" href="/calculation_services">Servicios de calculo</a>
                            </nav>
                        </div>
                    </nav>
                </div>

                <!-- Generar modelo de autoconsciencia -->
                <a class="nav-link" href="/generate_model">
                    <div class="sb-nav-link-icon"><i class="fas fa-shapes"></i></div>Generar modelos de autoconsciencia
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Modelo:</div>
            <%- session.active_model.nombre %>
        </div>
    </nav>
</div>